<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>html5+css3响应式游戏排行效果</title>
<link rel="stylesheet" href="css/normalize3.0.2.min.css" />
<link rel="stylesheet" href="css/css.css?v=15" />
</head>
<body> 

<section id="ranking"> <span id="ranking_title">我的排行：3</span>
  <section id="ranking_list">
  <{if !empty($findall)}>
 
  <{foreach $findall as $k => $v}>
    <section class="box">
      <section class="col_1" title="1"><{$k}></section>
      <section class="col_2"><img src="images/pic.jpg"  /></section>
      <section class="col_3">漫画之迷</section>
      <section class="col_4">5000</section>
    </section>
 
  <{/foreach}>
</table>
<{else}>
<p>没有结果！</p>
<{/if}>
    <section class="box">
      <section class="col_1" title="1">1</section>
      <section class="col_2"><img src="images/pic.jpg"  /></section>
      <section class="col_3">漫画之迷</section>
      <section class="col_4">5000</section>
    </section>
    <section class="box">
      <section class="col_1" title="2">2</section>
      <section class="col_2"><img src="images/pic.jpg"  /></section>
      <section class="col_3">漫画之迷</section>
      <section class="col_4">5000</section>
    </section>
    <section class="box cur">
      <section class="col_1" title="3">3</section>
      <section class="col_2"><img src="images/pic.jpg"  /></section>
      <section class="col_3">漫画之迷漫画之迷</section>
      <section class="col_4">5000</section>
    </section>
    <section class="box">
      <section class="col_1">4</section>
      <section class="col_2"><img src="images/pic.jpg"  /></section>
      <section class="col_3">漫画之迷</section>
      <section class="col_4">5000</section>
    </section>
    <section class="box">
      <section class="col_1">5</section>
      <section class="col_2"><img src="images/pic.jpg"  /></section>
      <section class="col_3">漫画之迷</section>
      <section class="col_4">5000</section>
    </section>
      <section class="box">
      <section class="col_1">6</section>
      <section class="col_2"><img src="images/pic.jpg"  /></section>
      <section class="col_3">漫画之迷</section>
      <section class="col_4">5000</section>
    </section>
  </section>
  <a id="play_game" href="#" title="开始游戏">开始游戏</a> </section>
<a id="return_back" href="#" title="返回">返回</a>
</body>
</html>
